<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <servlet>
   <servlet-name>customerService</servlet-name>
   <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
    <init-param>
      <param-name>home-class</param-name> <!-- 业务实现类 -->
      <param-value>com.junlaninfo.service.CustomerServiceImpl</param-value>
    </init-param>
    <init-param>
      <param-name>home-api</param-name> <!-- 业务接口 -->
      <param-value>com.junlaninfo.service.CustomerService</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>customerService</servlet-name>
    <url-pattern>/customerService</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
